//
// Copyright (c) {{YEAR}} Axon Enterprise
//
/**
 * @author      : {{NAME}}
 * @file        : {{FILE}}.h
 * @created     : {{TIMESTAMP}}
 */
{{CURSOR}}
#ifndef {{MACRO_GUARD}}
#define {{MACRO_GUARD}}


#endif /* {{MACRO_GUARD}} */
